<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trucksup.field_officer">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".presenter.utils.CommonApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Base.Theme.FieldOfficer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presenter.view.activity.truck_supplier.TruckSupplierDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.profile.TotalAddLoadActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.profile.TotalDownloadsActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.other.NewOnboardingSelection"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.other.FollowUpActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.other.WelcomeLocationActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.auth.forget.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.auth.signup.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.profile.MyEarningActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.auth.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.FieldOfficer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.view.activity.auth.forget.CreatePasswordActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.FieldOfficer" />
        <activity
            android:name=".presenter.view.activity.other.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.business_associate.BAFollowupActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.truck_supplier.TSFollowupActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.growth_partner.GPFollowupActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.other.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.financeInsurance.FinanceActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.financeInsurance.FinanceHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.financeInsurance.InsuranceActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.profile.MyTeamScreen"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.profile.MyTargetScreen"
            android:exported="false" />


        <activity
            android:name=".presenter.view.activity.business_associate.MyBATeamActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.MyTSTeamActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.growth_partner.MyGPTeamActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.business_associate.BAStartTripActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.TSStartTripActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.business_associate.BAScheduledMeetingActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.TSScheduledMeetingActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.common.yCamera.CameraXActivity"
            android:exported="false" />



        <activity
            android:name=".presenter.common.CameraActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.TSNewOnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.business_associate.BAnOnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.growth_partner.GPOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.growth_partner.GPPersonalDetailUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.view.activity.growth_partner.GPOnboardingKYCActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.miscellaneous.MiscActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.subscription.SubscriptionActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.TSPerformanceActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.truck_supplier.TSPerformStatusActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.business_associate.BAPerformanceActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.business_associate.BAPerformStatusActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.growth_partner.GPPerformanceActivity"
            android:exported="false" />

        <activity
            android:name=".presenter.view.activity.growth_partner.GPPerformStatusActivity"
            android:exported="false" />

        <service
            android:name=".presenter.utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="Google Key AIzaSyDRB7hEarzrrPCcs-QaGtVCpWDrkubxvs8" />
    </application>

</manifest>